.App {
  text-align: center;
  
}



/* Navigation List Styles */
.nav-container{
  background-color: #e0e0e0;
  padding:1rem;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.nav-item {
  margin: 0 20px; /* Adjust the spacing as needed */
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: #FFF; /* Change to your desired hover color */
}


a{
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}


p{
  font-size: 24px;
  font-weight: 300;
}